*{
    margin: 0%;
    padding:0px;
}
.all{
    width: 100%;
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 4px 8px gray;
    
    
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin: 1rem;
}
a{
    text-decoration: none;
    color: rgb(255, 206, 206);
    background-color:deeppink;
    padding: 5px;
    border-radius: 8px;

}
.img{
    width: 150px;
    margin-left: 25px;
}
.nav{
    margin-right: 25px;
}
a:hover{
    color: rgb(2, 195, 253);
}
.ipn{
    margin: 15px;
    border-radius: 10px;
    padding: 4px;
    background-color: rgb(252, 10, 123);
    color: rgb(252, 252, 252);
   
}
.helf-width{
    width: 100%;
    display: flex;
}
.imgside{
    margin-top: 60px;
    padding: 50px;
    
}
#color{
    color:  deeppink;
    margin: 10px;
}
#btn{
    background-color: deeppink;
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    color: white;
}
#btn:hover{
    background-color: black;
}
.helf{
    width: 100%;
    display: flex;
    margin: 20px;
    padding: 20px;
}
.cent{
    text-align: center;
    
}
.web{
    width: 30%;
    margin: 10px;
    padding: 8px;
    box-shadow: 1px 2px 4px gray;
    
}
.web:hover{
    box-shadow: 5px 8px 15px gray;
    
    transition: 0.5s;
}
.dev{
    width: 30%;
    margin: 10px;
    padding: 8px;
    box-shadow: 1px 2px 4px gray;
    
}
.dev:hover{
    box-shadow: 5px 8px 15px gray;
    
    transition: 0.5s;
}
.gra{
    width: 30%;
    margin: 10px;
    padding: 8px;
    box-shadow: 1px 2px 4px gray;
    
}
.gra:hover{
    box-shadow: 5px 8px 15px gray;
    
    transition: 0.5s;
}
.ordek{
    width: 48%;
}
.ancor{
    margin-left: 250px;
    padding: 10px;
    margin-top: 10px;

}
.ancor:hover{
    background-color: black;
    transition: 0.5s;
}
.port{
    width: 100%;
    background-color: black;
    background-image: url("-header.jpg");
    background-repeat: no-repeat;
    height: 250px;
    opacity: 0.5;
    margin: 50px;
    background-size: cover;
}
.port{
    
    
}
.g{
    width: 16%;
    margin: 40px;
    box-shadow: 1px 2px 4px gray;
    overflow: scroll;

    
}
.b{
    width: 16%; 
    margin: 40px;
    box-shadow: 1px 2px 4px gray;
    overflow: scroll;
}
.c{
    width: 16%;
    margin: 40px;
    box-shadow: 1px 2px 4px gray;
    overflow: scroll;
}
.ss{
    width: 300px;
    box-shadow: 1px 2px 4px gray;
    overflow: scroll;
}
.un{
    color: brown;
}
.g:hover{
    box-shadow: 5px 8px 15px gray;
    transition: 0.5s;
}
.b:hover{
    box-shadow: 5px 8px 15px gray;
    transition: 0.5s;
}
.c:hover{
    box-shadow: 5px 8px 15px gray;
    transition: 0.5s;
}
